body
{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background-image:url('https://images.pexels.com/photos/1590549/pexels-photo-1590549.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
	background-size:cover;
	background-allignment:fixed;
}
.box
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:400px;
	padding:20px;
	background:rgba(0,0,0,.5);
	box-sizing:border-box;
	box-shadow:0 15px 25px rgba(0,0,0,.5);
	border-radius:10px
}
.box h1
{
	margin:0 0 30px;
	color:#fff;
	text-align:center
}
.box .inputbox
{
	position:relative
}
.box .inputbox input
{
	width:100%;
	padding:10px 0;
	font-size:16px;
	letter-spacing:1px;
	color:#fff;
	margin-bottom:30px;
	border:none;
	border-bottom:1px solid #fff;
	outline:none;
	background:transparent;
}
.box .inputbox label
{
	position:absolute;
	top:0;
	left:0;
	padding:10px 0;
	font-size:16px;
	color:#fff;
	pointer-events:none;
	transition:.5s
}
.box .inputbox input:focus~label,
.box .inputbox input:valid~label
{
	color:#03a9f4;
	top:-18px;
	left:0;
	font-size:12px;
}
.box input[type="submit"]
{
	background:transparent;
	border:none;
	outline:none;
	color:#fff;
	background:#03a9f4;
	padding:10px 20px;
	cursor:pointer;
	border-radius:5px;
}
#error{
	color:#03a9f4;
	text-align:center
	}